@charset "utf-8";
/* CSS Document */
body{
	padding:80px;
	 background-attachment:fixed; /*必须*/
}
.leftbar{

}
.form-group .wb_other{
	float:left;
	}
.form-group .wb_range,.submit{
	float:right;
	width:inherit;
	margin-left:5px;
}
.form-group .wb_additional{
	margin-top:10px;
}
.panel{
	margin:10px;
	padding:5px;
}
.panel .panel .facebox{
	width:60px;
	float:left;
}
.facebox .follow{
	margin-left:5px;
	margin-top:5px;
}
.panel .panel .wb_detail {
	float:left;
}
.panel .panel{
	overflow:hidden;
	
}
.panel .panel .wb_detail .imagesbox{
	width:310px;
}
.panel .panel .wb_detail .words,wb_info{
	width:440px;
}
.panel .wb_info,.words,.imagesbox{
		margin-top:10px;
}
.wb_wrap .list-inline li{
	margin:10px 20px 0px 20px;
	border-left:solid 1px #EFEFEF;
	border-right:solid 1px #EFEFEF;
	padding-left:5px;
}
.imagesbox img{
	width:100px;
}
.mycomment .commenttext{
	float: right;
	width: 400px;
	overflow:scroll;
	overflow-y:hidden;
	overflow-x:hidden;
	resize:none;
	}
.mycomment .btcomment{
	float: right;
	margin-left: 100px;
	margin-top: 5px;
}
.allcomment{
	padding: 0px;

}
.allcomment .onecomment{
	margin: 2px;

}
.allcomment .onecomment p{
	margin: 0px;
	border-top: solid 1px #F6F4F0;
}
.allcomment .onecomment .commenttext{
	margin-left: 33px;
}

.pnpage{
	text-align: center;
}
.rightbar .infocover,.infoabout{
	text-align: center;
	margin-top:10px;
}
#right{

    position:fixed;
    right:170px;
    top:70px;
    _position:absolute;
    _top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
/*    border:1px solid red;*/
}
  
